#open1_wrapp h2 {
	border: 2px solid #fff;
	color: gray;
	background-color: khaki;
	border-radius: 25px;
	padding: 10px;
}
#open2_wrapp h2 {
	border: 2px solid #fff;
	color: #fff;
	background-color: #6fb536;
	border-radius: 25px;
	padding: 10px;
}
